<form method="POST" action="{{action}}">
    <table class="table table-bordered table-striped">
    <tr><td>Business Critical Hours</td><td><input type="text" name="bch" value="{{mssql.bch}}"/></td></tr>
    <tr><td>DB Name</td><td><input type="text" name="dbName" value="{{mssql.dbName}}"//></td></tr>
    <tr><td>Server</td><td><select id="servers-list" name="server"></td></tr>
    <tr><td>Environment</td><td><input type="text" name="environment" value="{{mssql.environment}}"//></td></tr>
    <tr><td>App Account</td><td><input type="text" name="appAccount" value="{{mssql.appAccount}}"//></td></tr>
    <tr><td>DB Jobs</td><td><input type="text" name="dbJobs" value="{{mssql.dbJobs}}"//></td></tr>
    <tr><td>Knowed Issues</td><td><input type="text" name="knowedIssues" value="{{mssql.knowedIssues}}"//></td></tr>
    <tr><td>Frequent Requests</td><td><input type="text" name="frequenRequests" value="{{mssql.frequentRequests}}"//></td></tr>
    <tr><td>Specificities</td><td><input type="text" name="specificities" value="{{mssql.specificities}}"//></td></tr>
    <tr><td></td><td><input type="submit" /></td></tr>
  </table>
</form>