<form method="POST" action="{{action}}">
    <table class="table table-bordered table-striped">
    <tr><td>Server Name</td><td><input type="text" name="serverName" value="{{server.serverName}}"/></td></tr>
    <tr><td>Server Description</td><td><input type="text" name="description" value="{{server.description}}"/></td></tr>
    <tr><td>Server Functionality</td><td><input type="text" name="functionality" value="{{server.functionality}}"/></td></tr>
    <tr><td>Environment (Prod, Test)</td><td><input type="text" name="environment" value="{{server.environment}}"/></td></tr>
    <tr><td>vlanID</td><td><input type="text" name="vlanID" value="{{server.vlanID}}"/></td></tr>
    <tr><td>IP address</td><td><input type="text" name="ipAddress" value="{{server.ipAddress}}"/></td></tr>
    <tr><td>Platform</td><td><input type="text" name="platform" value="{{server.platform}}"/></td></tr>
    <tr><td>Startup Order</td><td><input type="text" name="startup" value="{{server.startup}}"/></td></tr>
    <tr><td>Monitoring</td><td><input type="text" name="monitoring" value="{{server.monitoring}}"/></td></tr>
    <tr><td>OS Services</td><td><input type="text" name="services" value="{{server.services}}"/></td></tr>
    <tr><td>OS Schedulled Jobs</td><td><input type="text" name="schedulledJobs" value="{{server.schedulledJobs}}"/></td></tr>
    <tr><td>OS Admin group/users</td><td><input type="text" name="adminGroup" value="{{server.adminGroup}}"/></td></tr>
    <tr><td>OS Special requirements</td><td><input type="text" name="usersRequirements" value="{{server.usersRequirements}}"/></td></tr>
    <tr><td></td><td><input type="submit" /></td></tr>
  </table>
</form>